*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/keys/
/app/ios/Pods/

# Allow code styles and run configurations
# Idea
!**/.idea/codeStyles
!**/.idea/runConfigurations
!**/.idea/icon.png
